const API_PROTOCOL = 'http://';
const API_HOST = 'localhost';
const API_URL = API_HOST + '/api';
const API_VERSION = 'v1';
const API_SUBTYPE = 'wgshop';

export default {
    apiProtocol: API_PROTOCOL,
    apiHost: API_HOST,
    apiUrl: API_URL,
    apiVersion: API_VERSION,
    apiSubType: API_SUBTYPE
};